# Downloading NYC Yellow Taxi data

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-01.csv

--2020-04-13 16:46:58--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2016-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.9.6
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.9.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1708674492 (1.6G) [application/octet-stream]
Saving to: ‘yellow_tripdata_2016-01.csv’

yellow_tripdata_201 100%[===================>]   1.59G  42.2MB/s    in 27s

2020-04-13 16:47:28 (61.3 MB/s) - ‘yellow_tripdata_2016-01.csv’ saved [1708674492/1708674492]

In [2]:
import sqlite3

conn = sqlite3.connect('nyc_taxi.db')
conn.execute('DROP TABLE IF EXISTS nyc_taxi')
conn.execute('''CREATE TABLE nyc_taxi AS 
SELECT
  tpep_pickup_datetime AS pickup_datetime,
  tpep_dropoff_datetime AS dropoff_datetime,
  CAST(pickup_longitude AS DECIMAL) AS pickup_lon,
  CAST(pickup_latitude AS DECIMAL) AS pickup_lat,
  CAST(dropoff_longitude AS DECIMAL) AS dropoff_lon,
  CAST(dropoff_latitude AS DECIMAL) AS dropoff_lat,
  CAST(passenger_count AS INTEGER) AS passengers,
  CAST(trip_distance AS DECIMAL) AS distance,
  CAST(ROUND((JULIANDAY(tpep_dropoff_datetime)-JULIANDAY(tpep_pickup_datetime))*24*60*60) AS INTEGER) AS duration
FROM t
ORDER BY RANDOM()
LIMIT 100000
''')

In [3]:
conn.execute('drop table t')
conn.execute('VACUUM')
conn.close()